@import "tailwindcss";

:root {
  --background: #131313;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes verticalFloatingAnimation {
  from,
  to {
    top: 10px;
  }
  50% {
    top: -10px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.sapin-color {
  color: #2c5e4c !important;
}

.shiny-text-hovered {
  color: #b2b2b2 !important;
  transition: all 0.4s ease-in-out;
}

.skill-card img {
  object-fit: cover;
}
